<a href="https://colab.research.google.com/github/ramonfercruz/estudos_ml_a_z/blob/main/Pratica_Machine_Learning_e_Data_Science_com_Python_de_A_%C3%A0_Z_Regras_de_associa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning e Data Science com Python de A à Z IA Expert Academy - Regras de associação

# Algoritmo Apriori

In [ ]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=c1f2d1e3c85512b53d8939f5d3747089e3bcb3e697b32c3d0cf3d101eefc3a26
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import pandas as pd
from apyori import apriori
from google.colab import drive
import os

drive.mount('/content/drive')
diretorio = '/content/drive/MyDrive/curso_udemy/bases_dados/'

Mounted at /content/drive

## Base de dados mercado 1

In [ ]:
import os
arquivo_mercado1 = os.path.join(diretorio, 'mercado.csv')
base_mercado1 = pd.read_csv(arquivo_mercado1, header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [ ]:
transacoes = []
for i in range(len(base_mercado1)):
  transacoes.append([str(base_mercado1.values[i,j]) for j in range(base_mercado1.shape[1])])

In [ ]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [ ]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.8, min_lift=2)

In [ ]:
resultado = list(regras)
resultado

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [ ]:
len(resultado)

3

In [ ]:
resultado[2]

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [ ]:
resultado[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [ ]:
r = resultado[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [ ]:
r[2][0]

frozenset({'cafe', 'pao'})

In [ ]:
A = []
B = []
suporte = []
confianca = []
lift= []

for result in resultado:
  s = result[1]
  result_rules = result[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    A.append(a)
    B.append(b)
    suporte.append(s)
    lift.append(l)
    confianca.append(c)

In [ ]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['cafe', 'pao']]

In [ ]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [ ]:
suporte

[0.3, 0.3, 0.3, 0.3, 0.3]

In [ ]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [ ]:
confianca

[1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca':confianca, 'lift': lift})
rules_df.sort_values(by='lift', ascending=False)

                  A                B  suporte  confianca  lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

## Base de dados mercado 2

In [ ]:
arquivo_mercado2 = os.path.join(diretorio, 'mercado2.csv')
base_mercado2 = pd.read_csv(arquivo_mercado2, header = None)
base_mercado2

                 0                  1   ...       18         19
0            shrimp            almonds  ...  spinach  olive oil
1           burgers          meatballs  ...      NaN        NaN
2           chutney                NaN  ...      NaN        NaN
3            turkey            avocado  ...      NaN        NaN
4     mineral water               milk  ...      NaN        NaN
...             ...                ...  ...      ...        ...
7496         butter         light mayo  ...      NaN        NaN
7497        burgers  frozen vegetables  ...      NaN        NaN
7498        chicken                NaN  ...      NaN        NaN
7499       escalope          green tea  ...      NaN        NaN
7500           eggs    frozen smoothie  ...      NaN        NaN

[7501 rows x 20 columns]

In [ ]:
transacoes = []
for i in range(len(base_mercado2)):
  transacoes.append([str(base_mercado2.values[i,j]) for j in range(base_mercado2.shape[1])])

In [ ]:
len(transacoes)

7501

In [ ]:
#produtos que são vendidos 4 vezes por dia

In [ ]:
4 * 7 / 7501

0.0037328356219170776

In [ ]:
regras = apriori(transacoes, min_support=0.003, min_confidence=0.2, min_lift=3)

In [ ]:
resultado = list(regras)
len(resultado)

160

In [ ]:
A = []
B = []
suporte = []
confianca = []
lift= []

for result in resultado:
  s = result[1]
  result_rules = result[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    A.append(a)
    B.append(b)
    suporte.append(s)
    lift.append(l)
    confianca.append(c)

In [ ]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca':confianca, 'lift': lift})
rules_df.sort_values(by='lift', ascending=False)

                                                     A  ...      lift
344                          [soup, frozen vegetables]  ...  7.987176
177                          [soup, frozen vegetables]  ...  7.987176
349                     [soup, frozen vegetables, nan]  ...  7.987176
173                     [olive oil, frozen vegetables]  ...  6.128268
339                [olive oil, frozen vegetables, nan]  ...  6.128268
..                                                 ...  ...       ...
238                         [shrimp, nan, ground beef]  ...  3.005315
67                               [shrimp, ground beef]  ...  3.005315
198       [tomatoes, frozen vegetables, mineral water]  ...  3.002280
368  [tomatoes, frozen vegetables, mineral water, nan]  ...  3.002280
365       [tomatoes, frozen vegetables, mineral water]  ...  3.002280

[390 rows x 5 columns]

# ECLAT

In [ ]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading https://files.pythonhosted.org/packages/2e/b7/3b5b1fc70e917d2e2b7182dfc0f5b26a573621ee2c64538a7d72bf3f1f15/pyECLAT-1.0.2-py3-none-any.whl
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.41.1)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [ ]:
base_mercado1 = pd.read_csv(arquivo_mercado1, header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [ ]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [ ]:
eclat.df_bin

   cerveja  feijao  leite  arroz  cafe  manteiga  pao
0        1       0      1      0     0         1    1
1        0       0      0      0     1         1    1
2        0       0      0      0     1         1    1
3        0       0      1      0     1         1    1
4        1       0      0      0     0         0    0
5        0       0      0      0     0         1    0
6        0       0      0      0     0         0    1
7        0       1      0      0     0         0    0
8        0       1      0      1     0         0    0
9        0       0      0      1     0         0    0

In [ ]:
eclat.uniq_

['cerveja', nan, 'feijao', 'leite', 'arroz', 'cafe', 'manteiga', 'pao']

In [ ]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

3it [00:00, 136.50it/s]
3it [00:00, 127.88it/s]
1it [00:00, 74.63it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

In [ ]:
indices

{'cafe': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'cafe & manteiga & pao': [1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'manteiga & pao': [0, 1, 2, 3],
 'pao': [0, 1, 2, 3, 6]}

In [ ]:
suporte

{'cafe': 0.3,
 'cafe & manteiga': 0.3,
 'cafe & manteiga & pao': 0.3,
 'cafe & pao': 0.3,
 'manteiga': 0.5,
 'manteiga & pao': 0.4,
 'pao': 0.5}